<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.recorridosr_v15">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quintanaroo_id_riesgo_interno_escaleraservicio_2"></activity>
        <activity android:name=".quintanaroo_id_riesgo_interno_estructura_1" />
        <activity android:name=".quintanaroo_id_riesgo_interno" />
        <activity android:name=".quintanaroo_id_riesgo_externo" />
        <activity android:name=".quintanaroo_id_riesgo" />
        <activity android:name=".quintanaroo_anexo10_RecursosMateriales" />
        <activity android:name=".quintanaroo_anexo10_DetectoresContraIncendio" />
        <activity android:name=".quintanaroo_anexo10_EquipoContraIncendio" />
        <activity android:name=".quintanaroo_anexo10" />
        <activity android:name=".ViewPdf" />
        <activity android:name=".carpetaempresa_tabasco" />
        <activity android:name=".carpetaempresa_campeche" />
        <activity android:name=".carpetaempresa_yucatan" />
        <activity android:name=".carpetaempresa_quintanaRoo" />
        <activity android:name=".quintanaroo_RecursosCircundantes" />
        <activity android:name=".quintanaroo_AnalisisRecurso" />
        <activity android:name=".quintanaroo_SeguridadExterior" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".index_Tabasco" />
        <activity android:name=".index_QuintanaRoo" />
        <activity android:name=".index_Yucatan" />
        <activity android:name=".index_Campeche" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>